.card-body{
    text-align: center;
}

.card-body a{
    margin-right: 20px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Máximo 5 columnas */
    justify-content: center;
  }
  
  .card {
    width: 250px;
    margin-top: 20px;
  }